.task-process{
    
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;

    &__item{
        padding-left: 80px;
        position: relative;

        &-active{
            .task-process__pagination{
                border: 2px solid #48BB3E;
                background-image: url("../img/icons/Ellipse.svg");
            }
            .task-process__preview{
                display: none;
            }
            .task-process__body{
                display: flex;

            }
        }
        &-lock{
            .task-process__pagination{
                background-image: url("../img/icons/lock.svg");   
            }
            .task-process__preview{
                display: flex;
            }
            .task-process__body{
                display: none;
            }
        }
        &-success{
            .task-process__pagination{
                background-image: url("../img/icons/success.svg");
            }
            .task-process__preview {
                display: flex;
                .task-process__photo-count{
                    display: flex;
                }
            }
            .task-process__body{
                display: none;
            }
        }

    }
    &__pagination{
        position: absolute;
        left: 0;
        top: 10px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid #BCBCBC;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    &__preview{
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(110, 88, 88, 0.05);
        border-radius: 7px;
        height: 86px;
        padding: 30px;
        font-weight: 500;
        font-size: 22px;
        color: #828282;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__photo-count{
        display: none;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: #000;
        height: 26px;
    }
    &__preview-success{
        color: black;
    }
    &__body{
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
        border-radius: 7px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__body1{
        padding: 0;
        background: none;
    }
    &__body-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__body-input{
        opacity: 0;
        position: absolute;
        z-index: -1;
        overflow: hidden;
        width: 0.4px;
        height: 0.4px;
    }
    &__body-label{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 80px;
        border: 1px solid #150B22;
        border-radius: 50%;
        cursor: pointer;
    }
    &__body-title{
        color: #48BB3E;
        font-size: 22px;
        font-weight: 500;
    }
    &__toggle{
        position: relative;
        display: inline-block;
        width: 580px;
        height: 90px;
        border-radius: 50px;
    }
    &__toggle input{
        display: none;
    }
    &__slider{
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #FBD0D1;
        transition: .4s;
        border-radius: 50px;
        z-index: 1;
    }
    &__slider:before {
        position: absolute;
        content: "";
        height: 70px;
        width: 285px;
        top: 50%;
        left: 10px;
        transform: translate(0,-50%);
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50px;
        z-index: 4;
      }
      &__slider:after{
        content: "ХВС ЗАКРЫТО";
        position: absolute;
        z-index: 2;
        top: 50%;
        right: 75px;
        transform: translate(0,-50%);
        font-size: 22px;
        font-weight: 500;
        color: #ED131A;
      }
      input:checked + .task-process__slider:before{
        transform: translate(275px,-50%);
      }
      input:checked + .task-process__slider:after{
          content: "ХВС Открыто";
          color: #2196F3;
          left: 75px;
      }
      input:focus + .task-process__slider{
        box-shadow: 0 0 1px #2196F3;
      }
      input:checked + .task-process__slider{
        background-color: #CCE3F2;
      }
      &__hidden{
        display: none;
    }
    &__radiolist{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    &__radiobutton{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 22px;
    }
    &__btn{
        max-width: 100%
    }
    &__photo-preview{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    &__photo-item{
        width: 280px;
        height: 212px;
        position: relative;
    }
    &__photo-del{
        position: absolute;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: #FFF;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before{
            content: '';
            position: absolute;
            width: 20px;
            height: 4px;
            border-radius: 3px;
            background: #000;
            transform: rotate(45deg);
        }
        &:after{
            content: '';
            position: absolute;
            width: 20px;
            height: 4px;
            border-radius: 3px;
            background: #000;
            transform: rotate(-45deg);
        }
    }
}
.mobile__danger-btn{
    background: #ED131A;
}