.aside {
  background: $color_1;

  &__lists {
    padding: 30px;
    border-bottom: 2px solid #E5E5E5;
    display: grid;
    grid-gap: 30px;
    svg{
      margin-right: 8px;
    }
  }
  &__list-title{
    font-style: italic;
    color: #888888;
    margin-bottom: 10px;
  }
  &__transports{
    max-height: 630px;
    overflow-y: auto;
    ::-webkit-scrollbar-button {
      background-repeat: no-repeat;
      width: 5px;
      height: 0
    }

    ::-webkit-scrollbar-track {
      background-color: #e7e7e7;
      border-radius: 50px
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: $color_3
    }

    ::-webkit-resizer {
      background-repeat: no-repeat;
      width: 5px;
      height: 0
    }

    ::-webkit-scrollbar {
      width: 0
    }

    &::-webkit-scrollbar-button {
      background-repeat: no-repeat;
      width: 5px;
      height: 0
    }

    &::-webkit-scrollbar-track {
      //background-color: #e7e7e7;
      border-radius: 50px
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: $color_3
    }

    &::-webkit-resizer {
      background-repeat: no-repeat;
      width: 7px;
      height: 0
    }

    &::-webkit-scrollbar {
      width: 5px !important
    }
  }
  &-transport{
    padding: 20px;
    border-bottom: 2px solid #E5E5E5;
    svg{
      margin-right: 3px;
    }
  }
  &-transport__name{
    font-weight: 700;
    margin-bottom: 5px;
  }
  &-transport__status{
    margin-bottom: 10px;
  }

}