aside.aside
    .aside__lists
        .aside__list
            .aside__list-title Статус
            .wrapper-size(data-type="select")
                .wrapper-input

                    .choice-of-size.select-value  Не задано

                .ii-product__selectors-wrp.js_size_selector
                    .wrapper-list
                        .list
                            .list__itams(data-value="1")
                                svg(width='8', height='8', viewbox='0 0 8 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    circle(cx='4', cy='4', r='4', fill='#48BB3E')
                                span  Свободен
                            .list__itams(data-value="2")
                                svg(width='8', height='8', viewbox='0 0 8 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    circle(cx='4', cy='4', r='4', fill='#ED131A')
                                span  Занят
                            .list__itams(data-value="3")
                                svg(width='8', height='8', viewbox='0 0 8 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    circle(cx='4', cy='4', r='4', fill='#ED131A')
                                span  Занят начальством

        .aside__list
            .aside__list-title Тип транспорта
            .modal-text__form
                .wrapper-size(data-type="checkbox")
                    .wrapper-input
                        .choice-of-size.select-value  Не задано

                    .ii-product__selectors-wrp.js_size_selector
                        .wrapper-list
                            .list

                                .list__itams
                                    input#Bulldozer(type='checkbox', name='transport' value="1" data-name="Бульдозер")
                                    label(for='Bulldozer') Бульдозер

                                .list__itams
                                    input#Crane(type='checkbox', name='transport' value="2" data-name="Кран")
                                    label(for='Crane') Кран

                                .list__itams
                                    input#truck(type='checkbox', name='transport' value="3" data-name="Самосвал")
                                    label(for='truck') Самосвал
                                .list__itams
                                    input#Tractor(type='checkbox', name='transport' value="4" data-name="Трактор")
                                    label(for='Tractor') Трактор

    .aside__transports
        .aside__transport.aside-transport
            .aside-transport__name Бульдозер АА 505
            .aside-transport__status
                svg(width='8', height='8', viewbox='0 0 8 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                    circle(cx='4', cy='4', r='4', fill='#48BB3E')
                span  Свободен
            .aside-transport__address Коминтерновский, 19 квартал, 21
        .aside__transport.aside-transport
            .aside-transport__name Бульдозер АА 505
            .aside-transport__status
                svg(width='8', height='8', viewbox='0 0 8 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                    circle(cx='4', cy='4', r='4', fill='#ED131A')

                span  Свободен
            .aside-transport__address Коминтерновский, 19 квартал, 21
        .aside__transport.aside-transport
            .aside-transport__name Бульдозер АА 505
            .aside-transport__status
                svg(width='8', height='8', viewbox='0 0 8 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                    circle(cx='4', cy='4', r='4', fill='#48BB3E')
                span  Свободен
            .aside-transport__address Коминтерновский, 19 квартал, 21
        .aside__transport.aside-transport
            .aside-transport__name Бульдозер АА 505
            .aside-transport__status
                svg(width='8', height='8', viewbox='0 0 8 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                    circle(cx='4', cy='4', r='4', fill='#ED131A')

                span  Свободен
            .aside-transport__address Коминтерновский, 19 квартал, 21
        .aside__transport.aside-transport
            .aside-transport__name Бульдозер АА 505
            .aside-transport__status
                svg(width='8', height='8', viewbox='0 0 8 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                    circle(cx='4', cy='4', r='4', fill='#48BB3E')
                span  Свободен
            .aside-transport__address Коминтерновский, 19 квартал, 21
        .aside__transport.aside-transport
            .aside-transport__name Бульдозер АА 505
            .aside-transport__status
                svg(width='8', height='8', viewbox='0 0 8 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                    circle(cx='4', cy='4', r='4', fill='#ED131A')

                span  Свободен
            .aside-transport__address Коминтерновский, 19 квартал, 21
        .aside__transport.aside-transport
            .aside-transport__name Бульдозер АА 505
            .aside-transport__status
                svg(width='8', height='8', viewbox='0 0 8 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                    circle(cx='4', cy='4', r='4', fill='#48BB3E')
                span  Свободен
            .aside-transport__address Коминтерновский, 19 квартал, 21
        .aside__transport.aside-transport
            .aside-transport__name Бульдозер АА 505
            .aside-transport__status
                svg(width='8', height='8', viewbox='0 0 8 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                    circle(cx='4', cy='4', r='4', fill='#ED131A')

                span  Свободен
            .aside-transport__address Коминтерновский, 19 квартал, 21