section.table
    ._container

        table
            tbody
                tr.table-grid-registry-top
                    th.table-top__element
                        span №
                        svg(width='12', height='12', viewbox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.28111 2.94518L4.17171 0.132629C4.03919 -0.0445352 3.74187 -0.0445352 3.60935 0.132629L1.49995 2.94518C1.32654 3.17589 1.49163 3.50754 1.78113 3.50754H2.83584V10.1873C2.83584 10.3816 2.99308 10.5389 3.1874 10.5389H4.59365C4.78797 10.5389 4.94053 10.3816 4.94053 10.1873V3.50754H5.9999C6.28966 3.50754 6.45433 3.17566 6.28111 2.94518Z', fill='#828282')
                            path(d='M11.2187 8.48456H10.1593V1.80478C10.1593 1.61046 10.0068 1.45322 9.81243 1.45322H8.40616C8.21184 1.45322 8.0546 1.61046 8.0546 1.80478V8.48454H6.99988C6.71036 8.48454 6.54529 8.81618 6.71871 9.0469L8.82813 11.8594C8.96849 12.0471 9.25033 12.0468 9.39049 11.8594L11.4999 9.04692C11.6731 8.81643 11.5084 8.48456 11.2187 8.48456Z', fill='#828282')

                    th.table-top__element Аварийная завка
                    th.table-top__element
                        spasn Дата, время
                        svg(width='12', height='12', viewbox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.28111 2.94518L4.17171 0.132629C4.03919 -0.0445352 3.74187 -0.0445352 3.60935 0.132629L1.49995 2.94518C1.32654 3.17589 1.49163 3.50754 1.78113 3.50754H2.83584V10.1873C2.83584 10.3816 2.99308 10.5389 3.1874 10.5389H4.59365C4.78797 10.5389 4.94053 10.3816 4.94053 10.1873V3.50754H5.9999C6.28966 3.50754 6.45433 3.17566 6.28111 2.94518Z', fill='#828282')
                            path(d='M11.2187 8.48456H10.1593V1.80478C10.1593 1.61046 10.0068 1.45322 9.81243 1.45322H8.40616C8.21184 1.45322 8.0546 1.61046 8.0546 1.80478V8.48454H6.99988C6.71036 8.48454 6.54529 8.81618 6.71871 9.0469L8.82813 11.8594C8.96849 12.0471 9.25033 12.0468 9.39049 11.8594L11.4999 9.04692C11.6731 8.81643 11.5084 8.48456 11.2187 8.48456Z', fill='#828282')


                    th.table-top__element
                        spasn Статус
                        svg(width='12', height='12', viewbox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.28111 2.94518L4.17171 0.132629C4.03919 -0.0445352 3.74187 -0.0445352 3.60935 0.132629L1.49995 2.94518C1.32654 3.17589 1.49163 3.50754 1.78113 3.50754H2.83584V10.1873C2.83584 10.3816 2.99308 10.5389 3.1874 10.5389H4.59365C4.78797 10.5389 4.94053 10.3816 4.94053 10.1873V3.50754H5.9999C6.28966 3.50754 6.45433 3.17566 6.28111 2.94518Z', fill='#828282')
                            path(d='M11.2187 8.48456H10.1593V1.80478C10.1593 1.61046 10.0068 1.45322 9.81243 1.45322H8.40616C8.21184 1.45322 8.0546 1.61046 8.0546 1.80478V8.48454H6.99988C6.71036 8.48454 6.54529 8.81618 6.71871 9.0469L8.82813 11.8594C8.96849 12.0471 9.25033 12.0468 9.39049 11.8594L11.4999 9.04692C11.6731 8.81643 11.5084 8.48456 11.2187 8.48456Z', fill='#828282')

                    th.table-top__element Адрес
                    th.table-top__element Комментарий
                    th

                tr.table-grid-registry.table-grid-registry-green
                    td.table-bottom-row__element 001
                    td.table-bottom-row__element 54253
                    td.table-bottom-row__element 18.08.2021 <br> 14.00 - 15.00 (1 час)
                    td.table-bottom-row__element <b>Бульдозер АА 507</b>
                    td.table-bottom-row__element Забронирован
                    td.table-bottom-row__element ул. Пашковская, д. 103/2
                    td.table-bottom-row__element Заезд с ул. Базовской
                    td.table-bottom-row__element
                        a(href="#")
                            svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M16.6926 10.8297C16.6446 10.8055 16.5965 10.7934 16.548 10.7934C16.4436 10.7934 16.3517 10.8334 16.2715 10.9137L15.5018 11.6833C15.4298 11.7556 15.3937 11.8437 15.3937 11.948V15.0025C15.3937 15.5317 15.2057 15.9845 14.8286 16.3615C14.4518 16.7383 13.9987 16.9267 13.4696 16.9267H3.4636C2.93437 16.9267 2.48133 16.7383 2.10454 16.3615C1.72767 15.9846 1.53934 15.5318 1.53934 15.0025V4.99671C1.53934 4.46756 1.72767 4.01457 2.10454 3.63765C2.48133 3.26082 2.93437 3.07245 3.4636 3.07245H13.4696C13.6461 3.07245 13.8264 3.0965 14.0108 3.14465C14.0589 3.16057 14.095 3.1687 14.1188 3.1687C14.2231 3.1687 14.3154 3.12872 14.3955 3.04856L14.9848 2.45926C15.0809 2.36318 15.1172 2.24684 15.0929 2.11065C15.0688 1.98235 14.9966 1.8901 14.8763 1.83403C14.4437 1.63386 13.9744 1.53332 13.4693 1.53332H3.4636C2.50951 1.53332 1.69368 1.87207 1.01617 2.54957C0.338752 3.22716 0 4.04287 0 4.997V15.003C0 15.957 0.338752 16.7728 1.01622 17.4503C1.69372 18.1279 2.50956 18.4667 3.46364 18.4667H13.4696C14.4235 18.4667 15.2394 18.1279 15.9169 17.4503C16.5945 16.7728 16.9335 15.957 16.9335 15.003V11.1784C16.9335 11.0101 16.8529 10.894 16.6926 10.8297Z', fill='#888888')
                                path(d='M19.7114 3.92654L18.3884 2.6035C18.196 2.41113 17.9673 2.31492 17.7027 2.31492C17.4383 2.31492 17.2095 2.41113 17.0173 2.6035L9.23606 10.3847L6.0733 7.22169C5.88084 7.02919 5.65228 6.93311 5.38779 6.93311C5.12326 6.93311 4.89478 7.02919 4.70228 7.22169L3.37941 8.54456C3.18699 8.73698 3.0907 8.96554 3.0907 9.2302C3.0907 9.49473 3.18699 9.7232 3.37941 9.9157L8.55072 15.087C8.74318 15.2795 8.97174 15.3756 9.23623 15.3756C9.50072 15.3756 9.72924 15.2796 9.92174 15.087L19.7113 5.29752C19.9036 5.10514 20 4.87654 20 4.61201C20 4.34748 19.9038 4.11892 19.7114 3.92654Z', fill='#888888')
                                clippath#clip0
                                    rect(width='20', height='20', fill='white')

                        a(href="#")
                            svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M19.1305 18.6197H7.82587C7.3458 18.6197 6.95618 18.2303 6.95618 17.7502C6.95618 17.2701 7.3458 16.8807 7.82587 16.8807H19.1305C19.6105 16.8807 20 17.2701 20 17.7502C20 18.2303 19.6105 18.6197 19.1305 18.6197V18.6197Z', fill='#888888')
                                path(d='M16.7548 3.09424L15.5251 1.86454C14.8678 1.20709 13.7225 1.20805 13.066 1.86454L11.2677 3.66284L14.9565 7.35163L16.7548 5.55333C17.0834 5.22549 17.2643 4.78905 17.2643 4.32379C17.2643 3.85948 17.0834 3.42288 16.7548 3.09424Z', fill='#888888')
                                path(d='M10.0372 4.89334L1.0751 13.8554C1.01778 13.9119 0.977815 13.984 0.959504 14.0632L0.0116297 18.0849C-0.0230816 18.2311 0.0211833 18.3859 0.127387 18.4919C0.20907 18.5745 0.320369 18.6198 0.434216 18.6198C0.467335 18.6198 0.50125 18.6163 0.53421 18.6085L4.55611 17.6606C4.63445 17.6424 4.70658 17.6023 4.7639 17.545L13.7259 8.58309L10.0372 4.89334Z', fill='#888888')
                                clippath#clip0
                                    rect(width='20', height='20', fill='white')

                        a(href="#")
                            svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M17.2717 5.66406C17.6852 5.66406 17.9719 5.24605 17.8168 4.86273C17.2663 3.50176 15.9311 2.53906 14.3751 2.53906H13.6558C13.3875 1.12215 12.1452 0 10.6251 0H9.37508C7.8559 0 6.61278 1.12141 6.34438 2.53906H5.62508C4.06907 2.53906 2.73383 3.50176 2.18332 4.86273C2.02828 5.24605 2.31496 5.66406 2.72844 5.66406H17.2717ZM9.37508 1.17188H10.6251C11.4806 1.17188 12.2067 1.74742 12.4512 2.53906H7.54899C7.79344 1.74742 8.51961 1.17188 9.37508 1.17188Z', fill='#888888')
                                path(d='M4.33814 18.367C4.40334 19.2827 5.17353 20 6.0915 20H13.9087C14.8267 20 15.5969 19.2827 15.6621 18.367L16.4833 6.83594H3.51697L4.33814 18.367ZM11.6024 9.97074C11.6186 9.64754 11.8942 9.39828 12.2169 9.4148C12.5401 9.43098 12.789 9.70609 12.7728 10.0293L12.4603 16.2793C12.4447 16.5925 12.1858 16.8359 11.8756 16.8359C11.5382 16.8359 11.2733 16.5538 11.2899 16.2207L11.6024 9.97074ZM7.78338 9.4148C8.10615 9.39859 8.3817 9.64758 8.39783 9.97074L8.71033 16.2207C8.72697 16.5539 8.46181 16.8359 8.12462 16.8359C7.81447 16.8359 7.55556 16.5925 7.5399 16.2793L7.2274 10.0293C7.21127 9.70609 7.46017 9.43098 7.78338 9.4148Z', fill='#888888')






                tr.table-grid-registry.table-grid-registry-ellowe
                    td.table-bottom-row__element 001
                    td.table-bottom-row__element 54253
                    td.table-bottom-row__element 18.08.2021 <br> 14.00 - 15.00 (1 час)
                    td.table-bottom-row__element <b>Бульдозер АА 507</b>
                    td.table-bottom-row__element Забронирован
                    td.table-bottom-row__element ул. Пашковская, д. 103/2
                    td.table-bottom-row__element Заезд с ул. Базовской
                    td.table-bottom-row__element

                        a(href="#")
                            svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M19.1305 18.6197H7.82587C7.3458 18.6197 6.95618 18.2303 6.95618 17.7502C6.95618 17.2701 7.3458 16.8807 7.82587 16.8807H19.1305C19.6105 16.8807 20 17.2701 20 17.7502C20 18.2303 19.6105 18.6197 19.1305 18.6197V18.6197Z', fill='#888888')
                                path(d='M16.7548 3.09424L15.5251 1.86454C14.8678 1.20709 13.7225 1.20805 13.066 1.86454L11.2677 3.66284L14.9565 7.35163L16.7548 5.55333C17.0834 5.22549 17.2643 4.78905 17.2643 4.32379C17.2643 3.85948 17.0834 3.42288 16.7548 3.09424Z', fill='#888888')
                                path(d='M10.0372 4.89334L1.0751 13.8554C1.01778 13.9119 0.977815 13.984 0.959504 14.0632L0.0116297 18.0849C-0.0230816 18.2311 0.0211833 18.3859 0.127387 18.4919C0.20907 18.5745 0.320369 18.6198 0.434216 18.6198C0.467335 18.6198 0.50125 18.6163 0.53421 18.6085L4.55611 17.6606C4.63445 17.6424 4.70658 17.6023 4.7639 17.545L13.7259 8.58309L10.0372 4.89334Z', fill='#888888')
                                clippath#clip0
                                    rect(width='20', height='20', fill='white')

                        a(href="#")
                            svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M17.2717 5.66406C17.6852 5.66406 17.9719 5.24605 17.8168 4.86273C17.2663 3.50176 15.9311 2.53906 14.3751 2.53906H13.6558C13.3875 1.12215 12.1452 0 10.6251 0H9.37508C7.8559 0 6.61278 1.12141 6.34438 2.53906H5.62508C4.06907 2.53906 2.73383 3.50176 2.18332 4.86273C2.02828 5.24605 2.31496 5.66406 2.72844 5.66406H17.2717ZM9.37508 1.17188H10.6251C11.4806 1.17188 12.2067 1.74742 12.4512 2.53906H7.54899C7.79344 1.74742 8.51961 1.17188 9.37508 1.17188Z', fill='#888888')
                                path(d='M4.33814 18.367C4.40334 19.2827 5.17353 20 6.0915 20H13.9087C14.8267 20 15.5969 19.2827 15.6621 18.367L16.4833 6.83594H3.51697L4.33814 18.367ZM11.6024 9.97074C11.6186 9.64754 11.8942 9.39828 12.2169 9.4148C12.5401 9.43098 12.789 9.70609 12.7728 10.0293L12.4603 16.2793C12.4447 16.5925 12.1858 16.8359 11.8756 16.8359C11.5382 16.8359 11.2733 16.5538 11.2899 16.2207L11.6024 9.97074ZM7.78338 9.4148C8.10615 9.39859 8.3817 9.64758 8.39783 9.97074L8.71033 16.2207C8.72697 16.5539 8.46181 16.8359 8.12462 16.8359C7.81447 16.8359 7.55556 16.5925 7.5399 16.2793L7.2274 10.0293C7.21127 9.70609 7.46017 9.43098 7.78338 9.4148Z', fill='#888888')






                tr.table-grid-registry.table-grid-registry-rad-border
                    td.table-bottom-row__element 001
                    td.table-bottom-row__element 54253
                    td.table-bottom-row__element 18.08.2021 <br> 14.00 - 15.00 (1 час)
                    td.table-bottom-row__element <b>Бульдозер АА 507</b>
                    td.table-bottom-row__element Забронирован
                    td.table-bottom-row__element ул. Пашковская, д. 103/2
                    td.table-bottom-row__element Заезд с ул. Базовской
                    td.table-bottom-row__element

                        a(href="#")
                            svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M19.1305 18.6197H7.82587C7.3458 18.6197 6.95618 18.2303 6.95618 17.7502C6.95618 17.2701 7.3458 16.8807 7.82587 16.8807H19.1305C19.6105 16.8807 20 17.2701 20 17.7502C20 18.2303 19.6105 18.6197 19.1305 18.6197V18.6197Z', fill='#888888')
                                path(d='M16.7548 3.09424L15.5251 1.86454C14.8678 1.20709 13.7225 1.20805 13.066 1.86454L11.2677 3.66284L14.9565 7.35163L16.7548 5.55333C17.0834 5.22549 17.2643 4.78905 17.2643 4.32379C17.2643 3.85948 17.0834 3.42288 16.7548 3.09424Z', fill='#888888')
                                path(d='M10.0372 4.89334L1.0751 13.8554C1.01778 13.9119 0.977815 13.984 0.959504 14.0632L0.0116297 18.0849C-0.0230816 18.2311 0.0211833 18.3859 0.127387 18.4919C0.20907 18.5745 0.320369 18.6198 0.434216 18.6198C0.467335 18.6198 0.50125 18.6163 0.53421 18.6085L4.55611 17.6606C4.63445 17.6424 4.70658 17.6023 4.7639 17.545L13.7259 8.58309L10.0372 4.89334Z', fill='#888888')
                                clippath#clip0
                                    rect(width='20', height='20', fill='white')

                        a(href="#")
                            svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M17.2717 5.66406C17.6852 5.66406 17.9719 5.24605 17.8168 4.86273C17.2663 3.50176 15.9311 2.53906 14.3751 2.53906H13.6558C13.3875 1.12215 12.1452 0 10.6251 0H9.37508C7.8559 0 6.61278 1.12141 6.34438 2.53906H5.62508C4.06907 2.53906 2.73383 3.50176 2.18332 4.86273C2.02828 5.24605 2.31496 5.66406 2.72844 5.66406H17.2717ZM9.37508 1.17188H10.6251C11.4806 1.17188 12.2067 1.74742 12.4512 2.53906H7.54899C7.79344 1.74742 8.51961 1.17188 9.37508 1.17188Z', fill='#888888')
                                path(d='M4.33814 18.367C4.40334 19.2827 5.17353 20 6.0915 20H13.9087C14.8267 20 15.5969 19.2827 15.6621 18.367L16.4833 6.83594H3.51697L4.33814 18.367ZM11.6024 9.97074C11.6186 9.64754 11.8942 9.39828 12.2169 9.4148C12.5401 9.43098 12.789 9.70609 12.7728 10.0293L12.4603 16.2793C12.4447 16.5925 12.1858 16.8359 11.8756 16.8359C11.5382 16.8359 11.2733 16.5538 11.2899 16.2207L11.6024 9.97074ZM7.78338 9.4148C8.10615 9.39859 8.3817 9.64758 8.39783 9.97074L8.71033 16.2207C8.72697 16.5539 8.46181 16.8359 8.12462 16.8359C7.81447 16.8359 7.55556 16.5925 7.5399 16.2793L7.2274 10.0293C7.21127 9.70609 7.46017 9.43098 7.78338 9.4148Z', fill='#888888')






                tr.table-grid-registry.table-grid-registry-rad-border
                    td.table-bottom-row__element
                        svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M14.5002 12.75C14.5665 12.75 14.6301 12.7237 14.677 12.6768C14.7239 12.6299 14.7502 12.5663 14.7502 12.5V11.5C14.7502 11.4337 14.7239 11.3701 14.677 11.3232C14.6301 11.2763 14.5665 11.25 14.5002 11.25H13.5002V7.75C13.5002 6.29131 12.9207 4.89236 11.8893 3.86091C10.8578 2.82946 9.45889 2.25 8.0002 2.25C6.54151 2.25 5.14256 2.82946 4.11111 3.86091C3.07966 4.89236 2.5002 6.29131 2.5002 7.75V11.25H1.5002C1.43389 11.25 1.37031 11.2763 1.32342 11.3232C1.27654 11.3701 1.2502 11.4337 1.2502 11.5V12.5C1.2502 12.5663 1.27654 12.6299 1.32342 12.6768C1.37031 12.7237 1.43389 12.75 1.5002 12.75H1.7502V14.25H1.5002C1.43389 14.25 1.37031 14.2763 1.32342 14.3232C1.27654 14.3701 1.2502 14.4337 1.2502 14.5V15.5C1.2502 15.5663 1.27654 15.6299 1.32342 15.6768C1.37031 15.7237 1.43389 15.75 1.5002 15.75H14.5002C14.5665 15.75 14.6301 15.7237 14.677 15.6768C14.7239 15.6299 14.7502 15.5663 14.7502 15.5V14.5C14.7502 14.4337 14.7239 14.3701 14.677 14.3232C14.6301 14.2763 14.5665 14.25 14.5002 14.25H14.2502V12.75H14.5002ZM10.1037 14.25L11.6037 12.75H13.3967L11.8967 14.25H10.1037ZM5.8967 12.75L4.3967 14.25H2.6037L4.1037 12.75H5.8967ZM6.6037 12.75H8.3967L6.8967 14.25H5.1037L6.6037 12.75ZM9.1037 12.75H10.8967L9.3967 14.25H7.6037L9.1037 12.75ZM3.0002 7.75C3.0002 6.42392 3.52698 5.15215 4.46466 4.21447C5.40235 3.27678 6.67412 2.75 8.0002 2.75C9.32628 2.75 10.5981 3.27678 11.5357 4.21447C12.4734 5.15215 13.0002 6.42392 13.0002 7.75V11.25H8.7502V8.57875C9.10919 8.40846 9.39955 8.12108 9.57353 7.76386C9.7475 7.40664 9.79473 7.00085 9.70746 6.61322C9.62019 6.22559 9.4036 5.8792 9.09332 5.63101C8.78304 5.38282 8.39753 5.24761 8.0002 5.24761C7.60287 5.24761 7.21736 5.38282 6.90708 5.63101C6.5968 5.8792 6.38021 6.22559 6.29294 6.61322C6.20566 7.00085 6.2529 7.40664 6.42687 7.76386C6.60085 8.12108 6.8912 8.40846 7.2502 8.57875V11.25H3.0002V7.75ZM8.0002 8.25C7.75297 8.25 7.5113 8.17669 7.30574 8.03934C7.10017 7.90199 6.93996 7.70676 6.84535 7.47835C6.75074 7.24995 6.72599 6.99861 6.77422 6.75614C6.82245 6.51366 6.9415 6.29093 7.11631 6.11612C7.29113 5.9413 7.51386 5.82225 7.75634 5.77402C7.99881 5.72579 8.25014 5.75054 8.47855 5.84515C8.70696 5.93976 8.90218 6.09998 9.03954 6.30554C9.17689 6.5111 9.2502 6.75277 9.2502 7C9.2498 7.3314 9.11798 7.64911 8.88364 7.88345C8.64931 8.11778 8.3316 8.2496 8.0002 8.25ZM8.0002 8.75C8.0839 8.7493 8.16745 8.74261 8.2502 8.73V11.25H7.7502V8.73C7.83295 8.74261 7.91649 8.7493 8.0002 8.75ZM1.7502 11.75H14.2502V12.25H1.7502V11.75ZM3.3967 12.75L2.2502 13.8965V12.75H3.3967ZM14.2502 15.25H1.7502V14.75H14.2502V15.25ZM12.6037 14.25L13.7502 13.1035V14.25H12.6037Z', fill='#ED131A')
                            path(d='M7.75018 0.25H8.25018V1.75H7.75018V0.25Z', fill='#ED131A')
                            path(d='M10.3222 2.0743L11.572 0.824495L11.9255 1.178L10.6757 2.4278L10.3222 2.0743Z', fill='#ED131A')
                            path(d='M4.07272 1.17709L4.42622 0.823594L5.67602 2.07339L5.32252 2.42689L4.07272 1.17709Z', fill='#ED131A')
                            path(d='M12.0002 7.75H12.5002C12.4988 6.55695 12.0242 5.41317 11.1806 4.56955C10.337 3.72594 9.19323 3.25139 8.00018 3.25V3.75C9.06066 3.75126 10.0773 4.17309 10.8272 4.92296C11.5771 5.67283 11.9989 6.68952 12.0002 7.75Z', fill='#ED131A')
                            path(d='M12.0002 8.25H12.5002V8.75H12.0002V8.25Z', fill='#ED131A')

                        span 001
                    td.table-bottom-row__element 54253
                    td.table-bottom-row__element 18.08.2021 <br> 14.00 - 15.00 (1 час)
                    td.table-bottom-row__element <b>Бульдозер АА 507</b>
                    td.table-bottom-row__element Забронирован
                    td.table-bottom-row__element ул. Пашковская, д. 103/2
                    td.table-bottom-row__element Заезд с ул. Базовской
                    td.table-bottom-row__element

                        a(href="#")
                            svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M19.1305 18.6197H7.82587C7.3458 18.6197 6.95618 18.2303 6.95618 17.7502C6.95618 17.2701 7.3458 16.8807 7.82587 16.8807H19.1305C19.6105 16.8807 20 17.2701 20 17.7502C20 18.2303 19.6105 18.6197 19.1305 18.6197V18.6197Z', fill='#888888')
                                path(d='M16.7548 3.09424L15.5251 1.86454C14.8678 1.20709 13.7225 1.20805 13.066 1.86454L11.2677 3.66284L14.9565 7.35163L16.7548 5.55333C17.0834 5.22549 17.2643 4.78905 17.2643 4.32379C17.2643 3.85948 17.0834 3.42288 16.7548 3.09424Z', fill='#888888')
                                path(d='M10.0372 4.89334L1.0751 13.8554C1.01778 13.9119 0.977815 13.984 0.959504 14.0632L0.0116297 18.0849C-0.0230816 18.2311 0.0211833 18.3859 0.127387 18.4919C0.20907 18.5745 0.320369 18.6198 0.434216 18.6198C0.467335 18.6198 0.50125 18.6163 0.53421 18.6085L4.55611 17.6606C4.63445 17.6424 4.70658 17.6023 4.7639 17.545L13.7259 8.58309L10.0372 4.89334Z', fill='#888888')
                                clippath#clip0
                                    rect(width='20', height='20', fill='white')

                        a(href="#")
                            svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M17.2717 5.66406C17.6852 5.66406 17.9719 5.24605 17.8168 4.86273C17.2663 3.50176 15.9311 2.53906 14.3751 2.53906H13.6558C13.3875 1.12215 12.1452 0 10.6251 0H9.37508C7.8559 0 6.61278 1.12141 6.34438 2.53906H5.62508C4.06907 2.53906 2.73383 3.50176 2.18332 4.86273C2.02828 5.24605 2.31496 5.66406 2.72844 5.66406H17.2717ZM9.37508 1.17188H10.6251C11.4806 1.17188 12.2067 1.74742 12.4512 2.53906H7.54899C7.79344 1.74742 8.51961 1.17188 9.37508 1.17188Z', fill='#888888')
                                path(d='M4.33814 18.367C4.40334 19.2827 5.17353 20 6.0915 20H13.9087C14.8267 20 15.5969 19.2827 15.6621 18.367L16.4833 6.83594H3.51697L4.33814 18.367ZM11.6024 9.97074C11.6186 9.64754 11.8942 9.39828 12.2169 9.4148C12.5401 9.43098 12.789 9.70609 12.7728 10.0293L12.4603 16.2793C12.4447 16.5925 12.1858 16.8359 11.8756 16.8359C11.5382 16.8359 11.2733 16.5538 11.2899 16.2207L11.6024 9.97074ZM7.78338 9.4148C8.10615 9.39859 8.3817 9.64758 8.39783 9.97074L8.71033 16.2207C8.72697 16.5539 8.46181 16.8359 8.12462 16.8359C7.81447 16.8359 7.55556 16.5925 7.5399 16.2793L7.2274 10.0293C7.21127 9.70609 7.46017 9.43098 7.78338 9.4148Z', fill='#888888')






        include ./../../../pug/_basice/_pagging




