section.table
    ._container

        table
            tbody
                tr.table-grid-registry-top.machinery-table-grid-registry-top 
                    th.table-top__element.sorted__column
                        span Наименование
                        svg(width='12', height='12', viewbox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.28111 2.94518L4.17171 0.132629C4.03919 -0.0445352 3.74187 -0.0445352 3.60935 0.132629L1.49995 2.94518C1.32654 3.17589 1.49163 3.50754 1.78113 3.50754H2.83584V10.1873C2.83584 10.3816 2.99308 10.5389 3.1874 10.5389H4.59365C4.78797 10.5389 4.94053 10.3816 4.94053 10.1873V3.50754H5.9999C6.28966 3.50754 6.45433 3.17566 6.28111 2.94518Z', fill='#828282')
                            path(d='M11.2187 8.48456H10.1593V1.80478C10.1593 1.61046 10.0068 1.45322 9.81243 1.45322H8.40616C8.21184 1.45322 8.0546 1.61046 8.0546 1.80478V8.48454H6.99988C6.71036 8.48454 6.54529 8.81618 6.71871 9.0469L8.82813 11.8594C8.96849 12.0471 9.25033 12.0468 9.39049 11.8594L11.4999 9.04692C11.6731 8.81643 11.5084 8.48456 11.2187 8.48456Z', fill='#828282')

                    th.table-top__element.sorted__column 
                        span Тип транспорта
                        svg(width='12', height='12', viewbox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.28111 2.94518L4.17171 0.132629C4.03919 -0.0445352 3.74187 -0.0445352 3.60935 0.132629L1.49995 2.94518C1.32654 3.17589 1.49163 3.50754 1.78113 3.50754H2.83584V10.1873C2.83584 10.3816 2.99308 10.5389 3.1874 10.5389H4.59365C4.78797 10.5389 4.94053 10.3816 4.94053 10.1873V3.50754H5.9999C6.28966 3.50754 6.45433 3.17566 6.28111 2.94518Z', fill='#828282')
                            path(d='M11.2187 8.48456H10.1593V1.80478C10.1593 1.61046 10.0068 1.45322 9.81243 1.45322H8.40616C8.21184 1.45322 8.0546 1.61046 8.0546 1.80478V8.48454H6.99988C6.71036 8.48454 6.54529 8.81618 6.71871 9.0469L8.82813 11.8594C8.96849 12.0471 9.25033 12.0468 9.39049 11.8594L11.4999 9.04692C11.6731 8.81643 11.5084 8.48456 11.2187 8.48456Z', fill='#828282')

                    th.table-top__element.sorted__column
                        span Участок
                        svg(width='12', height='12', viewbox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.28111 2.94518L4.17171 0.132629C4.03919 -0.0445352 3.74187 -0.0445352 3.60935 0.132629L1.49995 2.94518C1.32654 3.17589 1.49163 3.50754 1.78113 3.50754H2.83584V10.1873C2.83584 10.3816 2.99308 10.5389 3.1874 10.5389H4.59365C4.78797 10.5389 4.94053 10.3816 4.94053 10.1873V3.50754H5.9999C6.28966 3.50754 6.45433 3.17566 6.28111 2.94518Z', fill='#828282')
                            path(d='M11.2187 8.48456H10.1593V1.80478C10.1593 1.61046 10.0068 1.45322 9.81243 1.45322H8.40616C8.21184 1.45322 8.0546 1.61046 8.0546 1.80478V8.48454H6.99988C6.71036 8.48454 6.54529 8.81618 6.71871 9.0469L8.82813 11.8594C8.96849 12.0471 9.25033 12.0468 9.39049 11.8594L11.4999 9.04692C11.6731 8.81643 11.5084 8.48456 11.2187 8.48456Z', fill='#828282')


                    th

                tr.table-grid-registry.machinery-table-grid-registry
                    td.table-bottom-row__element АА 505
                    td.table-bottom-row__element Бульдозер
                    td.table-bottom-row__element Участок 1
                    td.table-bottom-row__element
                        a._popup-link(href="#popup4")
                            svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M19.1305 18.6197H7.82587C7.3458 18.6197 6.95618 18.2303 6.95618 17.7502C6.95618 17.2701 7.3458 16.8807 7.82587 16.8807H19.1305C19.6105 16.8807 20 17.2701 20 17.7502C20 18.2303 19.6105 18.6197 19.1305 18.6197V18.6197Z', fill='#888888')
                                path(d='M16.7548 3.09424L15.5251 1.86454C14.8678 1.20709 13.7225 1.20805 13.066 1.86454L11.2677 3.66284L14.9565 7.35163L16.7548 5.55333C17.0834 5.22549 17.2643 4.78905 17.2643 4.32379C17.2643 3.85948 17.0834 3.42288 16.7548 3.09424Z', fill='#888888')
                                path(d='M10.0372 4.89334L1.0751 13.8554C1.01778 13.9119 0.977815 13.984 0.959504 14.0632L0.0116297 18.0849C-0.0230816 18.2311 0.0211833 18.3859 0.127387 18.4919C0.20907 18.5745 0.320369 18.6198 0.434216 18.6198C0.467335 18.6198 0.50125 18.6163 0.53421 18.6085L4.55611 17.6606C4.63445 17.6424 4.70658 17.6023 4.7639 17.545L13.7259 8.58309L10.0372 4.89334Z', fill='#888888')
                                clippath#clip0
                                    rect(width='20', height='20', fill='white')
                        a(href="#")
                            svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M17.2717 5.66406C17.6852 5.66406 17.9719 5.24605 17.8168 4.86273C17.2663 3.50176 15.9311 2.53906 14.3751 2.53906H13.6558C13.3875 1.12215 12.1452 0 10.6251 0H9.37508C7.8559 0 6.61278 1.12141 6.34438 2.53906H5.62508C4.06907 2.53906 2.73383 3.50176 2.18332 4.86273C2.02828 5.24605 2.31496 5.66406 2.72844 5.66406H17.2717ZM9.37508 1.17188H10.6251C11.4806 1.17188 12.2067 1.74742 12.4512 2.53906H7.54899C7.79344 1.74742 8.51961 1.17188 9.37508 1.17188Z', fill='#888888')
                                path(d='M4.33814 18.367C4.40334 19.2827 5.17353 20 6.0915 20H13.9087C14.8267 20 15.5969 19.2827 15.6621 18.367L16.4833 6.83594H3.51697L4.33814 18.367ZM11.6024 9.97074C11.6186 9.64754 11.8942 9.39828 12.2169 9.4148C12.5401 9.43098 12.789 9.70609 12.7728 10.0293L12.4603 16.2793C12.4447 16.5925 12.1858 16.8359 11.8756 16.8359C11.5382 16.8359 11.2733 16.5538 11.2899 16.2207L11.6024 9.97074ZM7.78338 9.4148C8.10615 9.39859 8.3817 9.64758 8.39783 9.97074L8.71033 16.2207C8.72697 16.5539 8.46181 16.8359 8.12462 16.8359C7.81447 16.8359 7.55556 16.5925 7.5399 16.2793L7.2274 10.0293C7.21127 9.70609 7.46017 9.43098 7.78338 9.4148Z', fill='#888888')

                tr.table-grid-registry.machinery-table-grid-registry
                    td.table-bottom-row__element АА 507
                    td.table-bottom-row__element Бульдозер
                    td.table-bottom-row__element Участок 2
                    td.table-bottom-row__element
                        a._popup-link(href="#popup4")
                            svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M19.1305 18.6197H7.82587C7.3458 18.6197 6.95618 18.2303 6.95618 17.7502C6.95618 17.2701 7.3458 16.8807 7.82587 16.8807H19.1305C19.6105 16.8807 20 17.2701 20 17.7502C20 18.2303 19.6105 18.6197 19.1305 18.6197V18.6197Z', fill='#888888')
                                path(d='M16.7548 3.09424L15.5251 1.86454C14.8678 1.20709 13.7225 1.20805 13.066 1.86454L11.2677 3.66284L14.9565 7.35163L16.7548 5.55333C17.0834 5.22549 17.2643 4.78905 17.2643 4.32379C17.2643 3.85948 17.0834 3.42288 16.7548 3.09424Z', fill='#888888')
                                path(d='M10.0372 4.89334L1.0751 13.8554C1.01778 13.9119 0.977815 13.984 0.959504 14.0632L0.0116297 18.0849C-0.0230816 18.2311 0.0211833 18.3859 0.127387 18.4919C0.20907 18.5745 0.320369 18.6198 0.434216 18.6198C0.467335 18.6198 0.50125 18.6163 0.53421 18.6085L4.55611 17.6606C4.63445 17.6424 4.70658 17.6023 4.7639 17.545L13.7259 8.58309L10.0372 4.89334Z', fill='#888888')
                                clippath#clip0
                                    rect(width='20', height='20', fill='white')
                        a(href="#")
                            svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M17.2717 5.66406C17.6852 5.66406 17.9719 5.24605 17.8168 4.86273C17.2663 3.50176 15.9311 2.53906 14.3751 2.53906H13.6558C13.3875 1.12215 12.1452 0 10.6251 0H9.37508C7.8559 0 6.61278 1.12141 6.34438 2.53906H5.62508C4.06907 2.53906 2.73383 3.50176 2.18332 4.86273C2.02828 5.24605 2.31496 5.66406 2.72844 5.66406H17.2717ZM9.37508 1.17188H10.6251C11.4806 1.17188 12.2067 1.74742 12.4512 2.53906H7.54899C7.79344 1.74742 8.51961 1.17188 9.37508 1.17188Z', fill='#888888')
                                path(d='M4.33814 18.367C4.40334 19.2827 5.17353 20 6.0915 20H13.9087C14.8267 20 15.5969 19.2827 15.6621 18.367L16.4833 6.83594H3.51697L4.33814 18.367ZM11.6024 9.97074C11.6186 9.64754 11.8942 9.39828 12.2169 9.4148C12.5401 9.43098 12.789 9.70609 12.7728 10.0293L12.4603 16.2793C12.4447 16.5925 12.1858 16.8359 11.8756 16.8359C11.5382 16.8359 11.2733 16.5538 11.2899 16.2207L11.6024 9.97074ZM7.78338 9.4148C8.10615 9.39859 8.3817 9.64758 8.39783 9.97074L8.71033 16.2207C8.72697 16.5539 8.46181 16.8359 8.12462 16.8359C7.81447 16.8359 7.55556 16.5925 7.5399 16.2793L7.2274 10.0293C7.21127 9.70609 7.46017 9.43098 7.78338 9.4148Z', fill='#888888')


                tr.table-grid-registry.machinery-table-grid-registry
                    td.table-bottom-row__element ВВ 525
                    td.table-bottom-row__element Самосвал
                    td.table-bottom-row__element Участок 1
                    td.table-bottom-row__element
                        a._popup-link(href="#popup4")
                            svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M19.1305 18.6197H7.82587C7.3458 18.6197 6.95618 18.2303 6.95618 17.7502C6.95618 17.2701 7.3458 16.8807 7.82587 16.8807H19.1305C19.6105 16.8807 20 17.2701 20 17.7502C20 18.2303 19.6105 18.6197 19.1305 18.6197V18.6197Z', fill='#888888')
                                path(d='M16.7548 3.09424L15.5251 1.86454C14.8678 1.20709 13.7225 1.20805 13.066 1.86454L11.2677 3.66284L14.9565 7.35163L16.7548 5.55333C17.0834 5.22549 17.2643 4.78905 17.2643 4.32379C17.2643 3.85948 17.0834 3.42288 16.7548 3.09424Z', fill='#888888')
                                path(d='M10.0372 4.89334L1.0751 13.8554C1.01778 13.9119 0.977815 13.984 0.959504 14.0632L0.0116297 18.0849C-0.0230816 18.2311 0.0211833 18.3859 0.127387 18.4919C0.20907 18.5745 0.320369 18.6198 0.434216 18.6198C0.467335 18.6198 0.50125 18.6163 0.53421 18.6085L4.55611 17.6606C4.63445 17.6424 4.70658 17.6023 4.7639 17.545L13.7259 8.58309L10.0372 4.89334Z', fill='#888888')
                                clippath#clip0
                                    rect(width='20', height='20', fill='white')
                        a(href="#")
                            svg(width='20', height='20', viewbox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M17.2717 5.66406C17.6852 5.66406 17.9719 5.24605 17.8168 4.86273C17.2663 3.50176 15.9311 2.53906 14.3751 2.53906H13.6558C13.3875 1.12215 12.1452 0 10.6251 0H9.37508C7.8559 0 6.61278 1.12141 6.34438 2.53906H5.62508C4.06907 2.53906 2.73383 3.50176 2.18332 4.86273C2.02828 5.24605 2.31496 5.66406 2.72844 5.66406H17.2717ZM9.37508 1.17188H10.6251C11.4806 1.17188 12.2067 1.74742 12.4512 2.53906H7.54899C7.79344 1.74742 8.51961 1.17188 9.37508 1.17188Z', fill='#888888')
                                path(d='M4.33814 18.367C4.40334 19.2827 5.17353 20 6.0915 20H13.9087C14.8267 20 15.5969 19.2827 15.6621 18.367L16.4833 6.83594H3.51697L4.33814 18.367ZM11.6024 9.97074C11.6186 9.64754 11.8942 9.39828 12.2169 9.4148C12.5401 9.43098 12.789 9.70609 12.7728 10.0293L12.4603 16.2793C12.4447 16.5925 12.1858 16.8359 11.8756 16.8359C11.5382 16.8359 11.2733 16.5538 11.2899 16.2207L11.6024 9.97074ZM7.78338 9.4148C8.10615 9.39859 8.3817 9.64758 8.39783 9.97074L8.71033 16.2207C8.72697 16.5539 8.46181 16.8359 8.12462 16.8359C7.81447 16.8359 7.55556 16.5925 7.5399 16.2793L7.2274 10.0293C7.21127 9.70609 7.46017 9.43098 7.78338 9.4148Z', fill='#888888')

        include ./../../../pug/_basice/_pagging