.popup.popup-center.popup_popup6
    .popup__body.custom-body
        .popup__content.comments-content
            a.popup__close.close-popup
                img(src="img/icons/close.svg")
            .modal-text
                .modal-text__title Комментарии к завке на транспорт № 54253
                .comments-box
                    .comment.mycomment
                        .comment__body 
                            .comment__recipient
                                span Кому:
                                a(href="#").comment__recipient-link Начальнику участка, Самсонову Николаю;
                            p.comment__text Diam, viverra aliquam nisl cursus elementum. Integer vulputate dui nunc, sit purus pharetra. Suscipit mattis cursus posuere bibendum ipsum eleifend congue pellentesque mi.
                        .comment__info 
                            span.comment__sender Вы
                            span.comment__date 15 сент, 17:02
                        
                    .comment.othercomment
                        .comment__body 
                            .comment__recipient
                                span Кому:
                                a(href="#").comment__recipient-link Начальнику участка, Самсонову Николаю;
                            p.comment__text Diam, viverra aliquam nisl cursus elementum. Integer vulputate dui nunc, sit purus pharetra. Suscipit mattis cursus posuere bibendum ipsum eleifend congue pellentesque mi.
                            button(type="button").comment__answer 
                                svg(width="20", height="18", viewBox="0 0 20 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M19.4085 8.14107C18.2029 5.14258 14.9478 3.6433 9.64276 3.6433H7.14279V0.786198C7.14279 0.592621 7.07208 0.425196 6.93077 0.283883C6.78938 0.142492 6.62211 0.0717773 6.42857 0.0717773C6.23499 0.0717773 6.06757 0.142492 5.92625 0.283883L0.212028 5.99808C0.0707149 6.13959 0 6.30694 0 6.50039C0 6.69382 0.0707149 6.86116 0.212028 7.00259L5.92629 12.7169C6.06776 12.8582 6.23519 12.9291 6.42861 12.9291C6.62199 12.9291 6.78938 12.8582 6.93081 12.7169C7.07216 12.5757 7.14283 12.4082 7.14283 12.2147V9.35742H9.6428C10.3718 9.35742 11.0246 9.37962 11.6012 9.42418C12.1777 9.46886 12.751 9.54884 13.3199 9.66432C13.8892 9.77963 14.3841 9.9376 14.8046 10.1387C15.2249 10.3398 15.6174 10.5982 15.982 10.9143C16.3467 11.2307 16.6444 11.6062 16.8751 12.0417C17.1056 12.477 17.2861 12.992 17.4164 13.5873C17.5464 14.1826 17.6117 14.856 17.6117 15.6073C17.6117 16.0164 17.593 16.4741 17.5559 16.9801C17.5559 17.0245 17.5467 17.112 17.528 17.2423C17.5095 17.3726 17.5001 17.471 17.5001 17.5379C17.5001 17.6493 17.5317 17.7424 17.5948 17.8168C17.6582 17.8912 17.7457 17.9283 17.8573 17.9283C17.9764 17.9283 18.0804 17.8651 18.1698 17.7386C18.2217 17.6717 18.2699 17.5898 18.3148 17.493C18.3595 17.3964 18.4098 17.2848 18.4655 17.1583C18.5214 17.0317 18.5605 16.9428 18.5827 16.8906C19.5275 14.7704 20 13.0926 20 11.8574C19.9999 10.3769 19.8029 9.13796 19.4085 8.14107Z", fill="#888888")

                        .comment__info 
                            span.comment__sender Диспетчер, Иванова Екатерина
                            span.comment__date 15 сент, 17:02
                        
                    .comment.mycomment
                        .comment__body 
                            .comment__recipient
                                span Кому:
                                a(href="#").comment__recipient-link Начальнику участка, Самсонову Николаю;
                            p.comment__text Diam, viverra aliquam nisl cursus elementum. Integer vulputate dui nunc, sit purus pharetra. Suscipit mattis cursus posuere bibendum ipsum eleifend congue pellentesque mi.
                        .comment__info 
                            span.comment__sender Вы
                            span.comment__date 15 сент, 17:02
                    .comment.othercomment
                        .comment__body 
                            .comment__recipient
                                span Кому:
                                a(href="#").comment__recipient-link Начальнику участка, Самсонову Николаю;
                            p.comment__text Diam, viverra aliquam nisl cursus elementum. Integer vulputate dui nunc, sit purus pharetra. Suscipit mattis cursus posuere bibendum ipsum eleifend congue pellentesque mi.
                            button(type="button").comment__answer 
                                svg(width="20", height="18", viewBox="0 0 20 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M19.4085 8.14107C18.2029 5.14258 14.9478 3.6433 9.64276 3.6433H7.14279V0.786198C7.14279 0.592621 7.07208 0.425196 6.93077 0.283883C6.78938 0.142492 6.62211 0.0717773 6.42857 0.0717773C6.23499 0.0717773 6.06757 0.142492 5.92625 0.283883L0.212028 5.99808C0.0707149 6.13959 0 6.30694 0 6.50039C0 6.69382 0.0707149 6.86116 0.212028 7.00259L5.92629 12.7169C6.06776 12.8582 6.23519 12.9291 6.42861 12.9291C6.62199 12.9291 6.78938 12.8582 6.93081 12.7169C7.07216 12.5757 7.14283 12.4082 7.14283 12.2147V9.35742H9.6428C10.3718 9.35742 11.0246 9.37962 11.6012 9.42418C12.1777 9.46886 12.751 9.54884 13.3199 9.66432C13.8892 9.77963 14.3841 9.9376 14.8046 10.1387C15.2249 10.3398 15.6174 10.5982 15.982 10.9143C16.3467 11.2307 16.6444 11.6062 16.8751 12.0417C17.1056 12.477 17.2861 12.992 17.4164 13.5873C17.5464 14.1826 17.6117 14.856 17.6117 15.6073C17.6117 16.0164 17.593 16.4741 17.5559 16.9801C17.5559 17.0245 17.5467 17.112 17.528 17.2423C17.5095 17.3726 17.5001 17.471 17.5001 17.5379C17.5001 17.6493 17.5317 17.7424 17.5948 17.8168C17.6582 17.8912 17.7457 17.9283 17.8573 17.9283C17.9764 17.9283 18.0804 17.8651 18.1698 17.7386C18.2217 17.6717 18.2699 17.5898 18.3148 17.493C18.3595 17.3964 18.4098 17.2848 18.4655 17.1583C18.5214 17.0317 18.5605 16.9428 18.5827 16.8906C19.5275 14.7704 20 13.0926 20 11.8574C19.9999 10.3769 19.8029 9.13796 19.4085 8.14107Z", fill="#888888")

                        .comment__info 
                            span.comment__sender Диспетчер, Иванова Екатерина
                            span.comment__date 15 сент, 17:02
                        
                    .comment.mycomment
                        .comment__body 
                            .comment__recipient
                                span Кому:
                                a(href="#").comment__recipient-link Начальнику участка, Самсонову Николаю;
                            p.comment__text Diam, viverra aliquam nisl cursus elementum. Integer vulputate dui nunc, sit purus pharetra. Suscipit mattis cursus posuere bibendum ipsum eleifend congue pellentesque mi.
                        .comment__info 
                            span.comment__sender Вы
                            span.comment__date 15 сент, 17:02
                    .comment.othercomment
                        .comment__body 
                            .comment__recipient
                                span Кому:
                                a(href="#").comment__recipient-link Начальнику участка, Самсонову Николаю;
                            p.comment__text Diam, viverra aliquam nisl cursus elementum. Integer vulputate dui nunc, sit purus pharetra. Suscipit mattis cursus posuere bibendum ipsum eleifend congue pellentesque mi.
                            button(type="button").comment__answer 
                                svg(width="20", height="18", viewBox="0 0 20 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                    path(d="M19.4085 8.14107C18.2029 5.14258 14.9478 3.6433 9.64276 3.6433H7.14279V0.786198C7.14279 0.592621 7.07208 0.425196 6.93077 0.283883C6.78938 0.142492 6.62211 0.0717773 6.42857 0.0717773C6.23499 0.0717773 6.06757 0.142492 5.92625 0.283883L0.212028 5.99808C0.0707149 6.13959 0 6.30694 0 6.50039C0 6.69382 0.0707149 6.86116 0.212028 7.00259L5.92629 12.7169C6.06776 12.8582 6.23519 12.9291 6.42861 12.9291C6.62199 12.9291 6.78938 12.8582 6.93081 12.7169C7.07216 12.5757 7.14283 12.4082 7.14283 12.2147V9.35742H9.6428C10.3718 9.35742 11.0246 9.37962 11.6012 9.42418C12.1777 9.46886 12.751 9.54884 13.3199 9.66432C13.8892 9.77963 14.3841 9.9376 14.8046 10.1387C15.2249 10.3398 15.6174 10.5982 15.982 10.9143C16.3467 11.2307 16.6444 11.6062 16.8751 12.0417C17.1056 12.477 17.2861 12.992 17.4164 13.5873C17.5464 14.1826 17.6117 14.856 17.6117 15.6073C17.6117 16.0164 17.593 16.4741 17.5559 16.9801C17.5559 17.0245 17.5467 17.112 17.528 17.2423C17.5095 17.3726 17.5001 17.471 17.5001 17.5379C17.5001 17.6493 17.5317 17.7424 17.5948 17.8168C17.6582 17.8912 17.7457 17.9283 17.8573 17.9283C17.9764 17.9283 18.0804 17.8651 18.1698 17.7386C18.2217 17.6717 18.2699 17.5898 18.3148 17.493C18.3595 17.3964 18.4098 17.2848 18.4655 17.1583C18.5214 17.0317 18.5605 16.9428 18.5827 16.8906C19.5275 14.7704 20 13.0926 20 11.8574C19.9999 10.3769 19.8029 9.13796 19.4085 8.14107Z", fill="#888888")

                        .comment__info 
                            span.comment__sender Диспетчер, Иванова Екатерина
                            span.comment__date 15 сент, 17:02
                       
                form.modal-text__form(method="post" enctype="" autocomplete="off")
                    .new-comment__form
                        .new-comment__to
                            .form-row__title Кому
                            .form-row__right
                                select.form__select(name='department')
                                    option(value='Всем', selected) Всем
                                    option(value='1') Person 1
                                    option(value='2') Person 2
                                    option(value='2') Person 2


                        .new-comment__message
                            .form-row__right
                                textarea(placeholder="Сообщение").form-row__input
                        button.new-comment__send(type="submit")
                            svg.new-comment__send-button(width="19", height="17", viewBox="0 0 19 17", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(d="M18.1306 7.70729L1.55605 0.0574775C1.29213 -0.0623696 0.97721 0.00902875 0.793614 0.235973C0.608744 0.462918 0.602369 0.785485 0.778315 1.0188L6.22881 8.28613L0.778315 15.5535C0.602369 15.7868 0.608744 16.1106 0.792339 16.3363C0.916012 16.4906 1.10088 16.5734 1.2883 16.5734C1.37883 16.5734 1.46935 16.5543 1.55477 16.5148L18.1294 8.86497C18.3563 8.76042 18.5004 8.53475 18.5004 8.28613C18.5004 8.03751 18.3563 7.81184 18.1306 7.70729Z", fill="white")





