section.mobile-table 
    .mobile__container 
        .request-transport__list
            .request-transport__item
                .request-transport__info 
                    .request-transport__numbers 
                        .request-transport__info-item 
                            span.request-transport__info-title №
                            span.request-transport__info-value 001
                        .request-transport__info-item 
                            span.request-transport__info-title № авар. заявки
                            span.request-transport__info-value 54253
                    .request-transport__info-item 
                        span.request-transport__info-title Дата, время
                        span.request-transport__info-value 18.08.2021   9.00 - 11.00 <span class="request-transport__hint">(2 часа)</span>
                    .request-transport__info-item 
                        span.request-transport__info-title Транспорт
                        span.request-transport__info-value <span class="request-transport__machine">Бульдозер АА 507</span>
                    .request-transport__info-item 
                        span.request-transport__info-title Статус
                        span.request-transport__info-value Забронирован
                    .request-transport__info-item 
                        span.request-transport__info-title Адрес
                        span.request-transport__info-value ул. Садовая, д. 103/2
                    .request-transport__info-item 
                        span.request-transport__info-title Комментарий
                        span.request-transport__info-value Заезд с ул. Базовской
                .request-transport__actions
                    button(type="button").request-transport__action 
                        svg(width="34", height="34", viewBox="0 0 34 34", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M32.522 31.6534H13.3042C12.488 31.6534 11.8257 30.9914 11.8257 30.1752C11.8257 29.3591 12.488 28.697 13.3042 28.697H32.522C33.3381 28.697 34.0002 29.3591 34.0002 30.1752C34.0002 30.9914 33.3381 31.6534 32.522 31.6534V31.6534Z", fill="#888888")
                            path(d="M28.4833 5.26016L26.3928 3.16967C25.2754 2.05201 23.3284 2.05363 22.2124 3.16967L19.1553 6.22678L25.4262 12.4977L28.4833 9.44062C29.042 8.88328 29.3495 8.14133 29.3495 7.35039C29.3495 6.56107 29.042 5.81886 28.4833 5.26016Z", fill="#888888")
                            path(d="M17.0632 8.3186L1.82767 23.5541C1.73023 23.6502 1.66229 23.7728 1.63116 23.9073L0.0197705 30.7443C-0.0392387 30.9928 0.0360116 31.2559 0.216558 31.4362C0.355419 31.5766 0.544628 31.6535 0.738168 31.6535C0.79447 31.6535 0.852126 31.6476 0.908158 31.6343L7.74538 30.0229C7.87856 29.9921 8.00118 29.9238 8.09862 29.8264L23.3341 14.5912L17.0632 8.3186Z", fill="#888888")
                            clipPath(id="clip0")
                                rect(width="34", height="34", fill="white")

                    button(type="button").request-transport__action 
                        svg(width="34", height="34", viewBox="0 0 34 34", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M29.3615 9.62891C30.0644 9.62891 30.5518 8.91829 30.2882 8.26665C29.3524 5.95299 27.0825 4.31641 24.4373 4.31641H23.2144C22.7584 1.90765 20.6465 0 18.0622 0H15.9372C13.3546 0 11.2413 1.90639 10.7851 4.31641H9.56225C6.91702 4.31641 4.64712 5.95299 3.71126 8.26665C3.44769 8.91829 3.93505 9.62891 4.63796 9.62891H29.3615ZM15.9372 1.99219H18.0622C19.5165 1.99219 20.751 2.97062 21.1666 4.31641H12.8329C13.2485 2.97062 14.483 1.99219 15.9372 1.99219Z", fill="#888888")
                            path(d="M7.37451 31.224C7.48534 32.7806 8.79467 34 10.3552 34H23.6445C25.2051 34 26.5144 32.7806 26.6252 31.224L28.0213 11.6211H5.97852L7.37451 31.224ZM19.7238 16.9503C19.7513 16.4008 20.2198 15.9771 20.7684 16.0052C21.3178 16.0327 21.741 16.5004 21.7135 17.0497L21.1822 27.6747C21.1556 28.2072 20.7155 28.6211 20.1882 28.6211C19.6146 28.6211 19.1642 28.1414 19.1925 27.5753L19.7238 16.9503ZM13.2314 16.0052C13.7801 15.9776 14.2486 16.4009 14.276 16.9503L14.8072 27.5753C14.8355 28.1417 14.3848 28.6211 13.8115 28.6211C13.2843 28.6211 12.8441 28.2072 12.8175 27.6747L12.2862 17.0497C12.2588 16.5004 12.682 16.0327 13.2314 16.0052Z", fill="#888888")
           
            .request-transport__item.request-transport__red
                .request-transport__info 
                    .request-transport__numbers 
                        .request-transport__info-item 
                            span.request-transport__info-title №
                            span.request-transport__info-value 001
                        .request-transport__info-item 
                            span.request-transport__info-title № авар. заявки
                            span.request-transport__info-value 54253
                    .request-transport__info-item 
                        span.request-transport__info-title Дата, время
                        span.request-transport__info-value 18.08.2021   9.00 - 11.00 <span class="request-transport__hint">(2 часа)</span>
                    .request-transport__info-item 
                        span.request-transport__info-title Транспорт
                        span.request-transport__info-value <span class="request-transport__machine">Бульдозер АА 507</span>
                    .request-transport__info-item 
                        span.request-transport__info-title Статус
                        span.request-transport__info-value Забронирован
                    .request-transport__info-item 
                        span.request-transport__info-title Адрес
                        span.request-transport__info-value ул. Садовая, д. 103/2
                    .request-transport__info-item 
                        span.request-transport__info-title Комментарий
                        span.request-transport__info-value Заезд с ул. Базовской
                .request-transport__actions
                    button(type="button").request-transport__action 
                        svg(width="34", height="34", viewBox="0 0 34 34", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M32.522 31.6534H13.3042C12.488 31.6534 11.8257 30.9914 11.8257 30.1752C11.8257 29.3591 12.488 28.697 13.3042 28.697H32.522C33.3381 28.697 34.0002 29.3591 34.0002 30.1752C34.0002 30.9914 33.3381 31.6534 32.522 31.6534V31.6534Z", fill="#888888")
                            path(d="M28.4833 5.26016L26.3928 3.16967C25.2754 2.05201 23.3284 2.05363 22.2124 3.16967L19.1553 6.22678L25.4262 12.4977L28.4833 9.44062C29.042 8.88328 29.3495 8.14133 29.3495 7.35039C29.3495 6.56107 29.042 5.81886 28.4833 5.26016Z", fill="#888888")
                            path(d="M17.0632 8.3186L1.82767 23.5541C1.73023 23.6502 1.66229 23.7728 1.63116 23.9073L0.0197705 30.7443C-0.0392387 30.9928 0.0360116 31.2559 0.216558 31.4362C0.355419 31.5766 0.544628 31.6535 0.738168 31.6535C0.79447 31.6535 0.852126 31.6476 0.908158 31.6343L7.74538 30.0229C7.87856 29.9921 8.00118 29.9238 8.09862 29.8264L23.3341 14.5912L17.0632 8.3186Z", fill="#888888")
                            clipPath(id="clip0")
                                rect(width="34", height="34", fill="white")

                    button(type="button").request-transport__action 
                        svg(width="34", height="34", viewBox="0 0 34 34", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M29.3615 9.62891C30.0644 9.62891 30.5518 8.91829 30.2882 8.26665C29.3524 5.95299 27.0825 4.31641 24.4373 4.31641H23.2144C22.7584 1.90765 20.6465 0 18.0622 0H15.9372C13.3546 0 11.2413 1.90639 10.7851 4.31641H9.56225C6.91702 4.31641 4.64712 5.95299 3.71126 8.26665C3.44769 8.91829 3.93505 9.62891 4.63796 9.62891H29.3615ZM15.9372 1.99219H18.0622C19.5165 1.99219 20.751 2.97062 21.1666 4.31641H12.8329C13.2485 2.97062 14.483 1.99219 15.9372 1.99219Z", fill="#888888")
                            path(d="M7.37451 31.224C7.48534 32.7806 8.79467 34 10.3552 34H23.6445C25.2051 34 26.5144 32.7806 26.6252 31.224L28.0213 11.6211H5.97852L7.37451 31.224ZM19.7238 16.9503C19.7513 16.4008 20.2198 15.9771 20.7684 16.0052C21.3178 16.0327 21.741 16.5004 21.7135 17.0497L21.1822 27.6747C21.1556 28.2072 20.7155 28.6211 20.1882 28.6211C19.6146 28.6211 19.1642 28.1414 19.1925 27.5753L19.7238 16.9503ZM13.2314 16.0052C13.7801 15.9776 14.2486 16.4009 14.276 16.9503L14.8072 27.5753C14.8355 28.1417 14.3848 28.6211 13.8115 28.6211C13.2843 28.6211 12.8441 28.2072 12.8175 27.6747L12.2862 17.0497C12.2588 16.5004 12.682 16.0327 13.2314 16.0052Z", fill="#888888")        
            
            .request-transport__item.request-transport__green
                .request-transport__info 
                    .request-transport__numbers 
                        .request-transport__info-item 
                            span.request-transport__info-title №
                            span.request-transport__info-value 001
                        .request-transport__info-item 
                            span.request-transport__info-title № авар. заявки
                            span.request-transport__info-value 54253
                    .request-transport__info-item 
                        span.request-transport__info-title Дата, время
                        span.request-transport__info-value 18.08.2021   9.00 - 11.00 <span class="request-transport__hint">(2 часа)</span>
                    .request-transport__info-item 
                        span.request-transport__info-title Транспорт
                        span.request-transport__info-value <span class="request-transport__machine">Бульдозер АА 507</span>
                    .request-transport__info-item 
                        span.request-transport__info-title Статус
                        span.request-transport__info-value Забронирован
                    .request-transport__info-item 
                        span.request-transport__info-title Адрес
                        span.request-transport__info-value ул. Садовая, д. 103/2
                    .request-transport__info-item 
                        span.request-transport__info-title Комментарий
                        span.request-transport__info-value Заезд с ул. Базовской
                .request-transport__actions
                    button(type="button").request-transport__action 
                        svg(width="34", height="34", viewBox="0 0 34 34", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M32.522 31.6534H13.3042C12.488 31.6534 11.8257 30.9914 11.8257 30.1752C11.8257 29.3591 12.488 28.697 13.3042 28.697H32.522C33.3381 28.697 34.0002 29.3591 34.0002 30.1752C34.0002 30.9914 33.3381 31.6534 32.522 31.6534V31.6534Z", fill="#888888")
                            path(d="M28.4833 5.26016L26.3928 3.16967C25.2754 2.05201 23.3284 2.05363 22.2124 3.16967L19.1553 6.22678L25.4262 12.4977L28.4833 9.44062C29.042 8.88328 29.3495 8.14133 29.3495 7.35039C29.3495 6.56107 29.042 5.81886 28.4833 5.26016Z", fill="#888888")
                            path(d="M17.0632 8.3186L1.82767 23.5541C1.73023 23.6502 1.66229 23.7728 1.63116 23.9073L0.0197705 30.7443C-0.0392387 30.9928 0.0360116 31.2559 0.216558 31.4362C0.355419 31.5766 0.544628 31.6535 0.738168 31.6535C0.79447 31.6535 0.852126 31.6476 0.908158 31.6343L7.74538 30.0229C7.87856 29.9921 8.00118 29.9238 8.09862 29.8264L23.3341 14.5912L17.0632 8.3186Z", fill="#888888")
                            clipPath(id="clip0")
                                rect(width="34", height="34", fill="white")

                    button(type="button").request-transport__action 
                        svg(width="34", height="34", viewBox="0 0 34 34", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M29.3615 9.62891C30.0644 9.62891 30.5518 8.91829 30.2882 8.26665C29.3524 5.95299 27.0825 4.31641 24.4373 4.31641H23.2144C22.7584 1.90765 20.6465 0 18.0622 0H15.9372C13.3546 0 11.2413 1.90639 10.7851 4.31641H9.56225C6.91702 4.31641 4.64712 5.95299 3.71126 8.26665C3.44769 8.91829 3.93505 9.62891 4.63796 9.62891H29.3615ZM15.9372 1.99219H18.0622C19.5165 1.99219 20.751 2.97062 21.1666 4.31641H12.8329C13.2485 2.97062 14.483 1.99219 15.9372 1.99219Z", fill="#888888")
                            path(d="M7.37451 31.224C7.48534 32.7806 8.79467 34 10.3552 34H23.6445C25.2051 34 26.5144 32.7806 26.6252 31.224L28.0213 11.6211H5.97852L7.37451 31.224ZM19.7238 16.9503C19.7513 16.4008 20.2198 15.9771 20.7684 16.0052C21.3178 16.0327 21.741 16.5004 21.7135 17.0497L21.1822 27.6747C21.1556 28.2072 20.7155 28.6211 20.1882 28.6211C19.6146 28.6211 19.1642 28.1414 19.1925 27.5753L19.7238 16.9503ZM13.2314 16.0052C13.7801 15.9776 14.2486 16.4009 14.276 16.9503L14.8072 27.5753C14.8355 28.1417 14.3848 28.6211 13.8115 28.6211C13.2843 28.6211 12.8441 28.2072 12.8175 27.6747L12.2862 17.0497C12.2588 16.5004 12.682 16.0327 13.2314 16.0052Z", fill="#888888")                    

                        
                            
