.dropDownList-title Декоративные штукатурки
.dropDownList-hidden(style="display: none;")
    input#product-type_1(type="radio" name="product-type" value="Эффектные покрытия" checked).input-radio
    label(for="product-type_1").label-radio Эффектные покрытия

    input#product-type_2(type="radio" name="product-type" value="Среднефактурные покрытия").input-radio
    label(for="product-type_2").label-radio Среднефактурные покрытия

.spollers-block__item
    .spollers-block__title Декоративные штукатурки
    .spollers-block__body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt doloremque sit sunt vel! Asperiores aspernatur consectetur culpa delectus distinctio dolorum est ex, laboriosam quo sint sit, unde vel veniam?

