.container
    .tabs
        .tabs__nav.tabs-nav
            .tabs-nav__item.is-active(data-tab-name="tab-1") Характеристики
            .tabs-nav__item(data-tab-name="tab-2") Способ нанесения
            .tabs-nav__item(data-tab-name="tab-3") Документация
            .tabs-nav__item(data-tab-name="tab-4") Наличие в магазинах

        .tabs__content
            .tab-pane.tab-1.is-active
                ul
                    li
            .tab-pane.tab-2 2 зависимости от выбранного инструмента и характера исполнения возможно достижение разнообразных оптических эффектов. Венецианский стиль, «под мрамор» или пятнистые разводы — различные стили можно воплотить легко и без проблем, с неповторимым и элегантным шармом. Глянец при этом можно усилить до достижения зеркального отражения. Этот эффект зрительно расширяет помещения, оживляет их и придает им исключительный характер.
            .tab-pane.tab-3 3 зависимости от выбранного инструмента и характера исполнения возможно достижение разнообразных оптических эффектов. Венецианский стиль, «под мрамор» или пятнистые разводы — различные стили можно воплотить легко и без проблем, с неповторимым и элегантным шармом. Глянец при этом можно усилить до достижения зеркального отражения. Этот эффект зрительно расширяет помещения, оживляет их и придает им исключительный характер.
            .tab-pane.tab-4 4 зависимости от выбранного инструмента и характера исполнения возможно достижение разнообразных оптических эффектов. Венецианский стиль, «под мрамор» или пятнистые разводы — различные стили можно воплотить легко и без проблем, с неповторимым и элегантным шармом. Глянец при этом можно усилить до достижения зеркального отражения. Этот эффект зрительно расширяет помещения, оживляет их и придает им исключительный характер.
    .tabs
        .tabs__nav.tabs-nav
            .tabs-nav__item.is-active(data-tab-name="tab-1") Характеристики
            .tabs-nav__item(data-tab-name="tab-2") Способ нанесения
            .tabs-nav__item(data-tab-name="tab-3") Документация
            .tabs-nav__item(data-tab-name="tab-4") Наличие в магазинах

        .tabs__content
            .tab-pane.tab-1.is-active
            .tab-pane.tab-2 2 зависимости от выбранного инструмента и характера исполнения возможно достижение разнообразных оптических эффектов. Венецианский стиль, «под мрамор» или пятнистые разводы — различные стили можно воплотить легко и без проблем, с неповторимым и элегантным шармом. Глянец при этом можно усилить до достижения зеркального отражения. Этот эффект зрительно расширяет помещения, оживляет их и придает им исключительный характер.
            .tab-pane.tab-3 3 зависимости от выбранного инструмента и характера исполнения возможно достижение разнообразных оптических эффектов. Венецианский стиль, «под мрамор» или пятнистые разводы — различные стили можно воплотить легко и без проблем, с неповторимым и элегантным шармом. Глянец при этом можно усилить до достижения зеркального отражения. Этот эффект зрительно расширяет помещения, оживляет их и придает им исключительный характер.
            .tab-pane.tab-4 4 зависимости от выбранного инструмента и характера исполнения возможно достижение разнообразных оптических эффектов. Венецианский стиль, «под мрамор» или пятнистые разводы — различные стили можно воплотить легко и без проблем, с неповторимым и элегантным шармом. Глянец при этом можно усилить до достижения зеркального отражения. Этот эффект зрительно расширяет помещения, оживляет их и придает им исключительный характер.

