include pug/mixins
doctype html
html(lang="ru")
    +head('Главная')
    body
        .wrapper
            include pug/_basice/_header
            .page.main
                include pug/main/slider
                include pug/main/titleFilter
                include pug/main/table




            include pug/_basice/_footer

        include pug/_basice/_popup
        include pug/_basice/_js
