include pug/mixins
doctype html
html(lang="ru")
    +head('Главная')
    body
        .wrapper
            include pug/_basice/_headerMobile
            .page.main
                include pug/mobile-master/emergency/filter
                include pug/mobile-master/emergency/table


            include pug/_basice/_footer
            include pug/_basice/popups/createRequestTransport

        include pug/_basice/_js