include pug/mixins
doctype html
html(lang="ru")
    +head('Реестр заявок на АТ')
    body
        .wrapper
            include pug/_basice/_header
            .page.duo
                .main
                    include pug/main/slider
                    include pug/registry/titleFilter
                    include pug/registry/table
                aside
                    include pug/registry/aside




            include pug/_basice/_footer

        include pug/_basice/_popup
        include pug/_basice/_js
