a.popup-link(href='#popup_2') &Pcy;&ocy;&pcy;&acy;&pcy; &numero;2
a.popup-link(href='#popup_2') &Pcy;&ocy;&pcy;&acy;&pcy; &numero;2
#popup.popup
    .popup__body
        .popup__content
            a.popup__close.close-popup(href='#header') X
            .popup__title &Ecy;&tcy;&ocy; &mcy;&ocy;&dcy;&acy;&lcy;&softcy;&ncy;&ocy;&iecy; &ocy;&kcy;&ncy;&ocy; &numero;1
            .popup__text
                a.popup-link(href='#popup_2') &Pcy;&ocy;&pcy;&acy;&pcy; &numero;2
                |  ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
#popup_2.popup
    .popup__body
        .popup__content
            a.popup__close.close-popup(href='#header') X
            .popup__title &Ecy;&tcy;&ocy; &mcy;&ocy;&dcy;&acy;&lcy;&softcy;&ncy;&ocy;&iecy; &ocy;&kcy;&ncy;&ocy; &numero;2
            .popup__text
                | ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!


