.table-grid-registry{
  grid-template-columns: 80px 80px 160px 150px 1fr 1fr 1.5fr 100px;
  grid-gap: 30px;
  padding: 20px;
  align-items: center;
  background: $color_1;
  border-radius: 10px;
  margin-bottom: 10px;
  display: grid;

  .table-bottom-row__element:nth-child(1){
    display: grid;
    grid-gap: 10px;
  }
  .table-bottom-row__element:last-child{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
  }
}
.table-grid-registry-top{
  grid-template-columns: 80px 80px 160px 1fr 1fr 1fr 1.5fr 100px;
  grid-gap: 30px;
  padding: 20px;
  align-items: center;
  display: grid;
}

.table-grid-registry-green{
  border: 1px solid $color_6;
  background: lighten($color_6, 65);
}
.table-grid-registry-ellowe{
  border: 1px solid $color_7;
  background: lighten($color_7, 45);
}
.table-grid-registry-rad-border{
  border-left: 5px solid $color_5;
}

