.table-top{
  &__element{
    font-weight: 300 !important;
    text-align: left;
    &:nth-child(-n + 2){
      cursor: pointer;
    }
  }
}

.table-grid-top{
  display: grid;
  grid-template-columns: 100px 100px 230px 153px 153px 200px  40px;
  grid-gap: 30px;
  padding: 20px;
  align-items: center;

  @include mq('desktop-wide') {
    grid-template-columns: 100px 100px 3fr 2fr 2fr 1.5fr  40px;
  }
}
.table-grid{
  display: grid;
  grid-template-columns: 100px 100px 3fr 2fr 2fr 1.5fr  40px;
  grid-gap: 30px;
  padding: 20px;
  align-items: center;
  background: $color_1;
  border-radius: 10px;
  margin-bottom: 10px;
}

.table-bottom{
  display: grid;
  grid-gap: 5px;

}
.table-bottom-row{
  align-items: center;
  background: $color_1;
  border-radius: 7px;
  padding: 20px;
  margin-bottom: 5px;

  &__element{
    button{
      background: none;
    }
    &:nth-child(6){
      width: 200px;
      span{
        font-weight: 500;
      }
    }
    &:last-child{
      cursor: pointer;
      &:hover{
        circle{
          fill:darken($color_3, 10)
        }
      }
    }
  }
}