.wrapper-size
    .wrapper-input
        input(type="hidden" value="")
        .choice-of-size.select-value.price-text  возрастанию цены

    .ii-product__selectors-wrp.js_size_selector
        .wrapper-list
            .list
                .list__itams(data-value="3")  по пулярности
                .list__itams(data-value="4")  по новизне