.dropDownList-title{
  padding-bottom: 10px;
  cursor: pointer;
  padding-right: 25px;
  background-position: right 10px;
  background-repeat: no-repeat;
  width: 100%;
  @include mq('tablet') {
    width: fit-content;
  }

  @if ($link-img == '') {
    background-image: url("./../../../img/icons/ar.svg");
  } @else {
    background-image: url($link-img + "/img/icons/ar.svg");
  }

  &.open{
    @if ($link-img == '') {
      background-image: url("./../../../img/icons/ar-d.svg");
    } @else {
      background-image: url($link-img + "/img/icons/ar-d.svg");
    }
  }
}

.dropDownList-hidden{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}