.table-grid-transport-top{
  grid-template-columns:  1fr 1fr 1fr  100px;
  grid-gap: 30px;
  padding: 20px;
  align-items: center;
  display: grid;
}
.table-grid-transport{
  grid-template-columns:  1fr 1fr 1fr 100px;
  grid-gap: 30px;
  padding: 20px;
  align-items: center;
  background: $color_1;
  border-radius: 10px;
  margin-bottom: 10px;
  display: grid;
}
