header.header-mobile
    .header__container.header-mobile__container 
        .header__logo
            img(src="img/mobile-logo.svg" alt="logo")
        a.header-mobile__link(href="") <span>Аварийные заявки</span>
        a.header-mobile__link.header-mobile__link-underline(href="#") Заявки на транспорт
        .header-mobile__actions 
            a.header__btn(href="#")
                img(src="img/user.svg" alt="")
            a.header__btn(href="#") 
                img(src="img/exit.svg" alt="")


