header.header
    .header__container
        .header__logo
            img(src="img/logo.svg" alt="logo")
        a.header__link.header__link-underline(href="#") <span>Транспорт</span>
        a.header__link(href="#") Заявки на транспорт
        a.header__link(href="#") Статистика
        .header__user
            span Колокольникова И. А.
            img(src="img/user.svg" alt="")
        a.header__btn(href="#") Выйти

