header.header
    .header__container
        .header__logo
            img(src="img/logo.svg" alt="logo")
        a.header__link.header__link-underline(href="#") <span>Аварийные заявки</span>
        a.header__link(href="#") Назначение транспорта
        a.header__link(href="#") Назначение мастера
        .header__user
            span Колокольникова И. А.
            img(src="img/user.svg" alt="")
        button.header__btn Выйти

