.pagging
    button.pagging__arrow( оnclick="alert('Данный Onclick повесим прямо на тег...')" ) Предыдущая
    ul.pagging__list
        li
            a.pagging__item._active(href='') 1
        li
            a.pagging__item(href='') 2
        li
            a.pagging__item(href='') 3
        li
            a.pagging__item(href='') 4
        li
            a.pagging__item(href='') 5
    a.pagging__arrow(href='') Следующая
