section.titleFilter
    ._container
        .titleFilter__body
            .titleFilter__name Аварийные заявки
            form.titleFilter__filter(method="post" enctype="" autocomplete="off")
                .filter__input.filter-input
                    .filter-input__wr
                        .filter-input__title.filter-title Дата заявки
                        .filter-input__body.filter-input__body-data
                            span c
                            input(type="date" id="start" name="trip-start" value="2021-07-22" min="2021-01-01" max="2030-12-31").filter-input__input
                .filter__input.filter-input
                    .filter-input__wr
                        .filter-input__body.filter-input__body-data
                            span по
                            input(type="date" id="finish" name="trip-finish" value="2021-07-22" min="2021-01-01" max="2030-12-31").filter-input__input



                .filter__input.filter-input
                    .filter-input__wr
                        .filter-input__title.filter-title Улица

                        .filter-input__wr
                            select.form__select(name='street')
                                option(value='1', selected) Дима
                                option(value='2') Юля
                                option(value='3') Мама
                                option(value='4') папа
                                option(value='5') Слава
                                option(value='6') Юля
                                option(value='7') Мама
                                option(value='8') папа
                                option(value='9') Слава
                                option(value='0') Юля
                                option(value='11') Мама
                                option(value='11') папа
                                option(value='22') Слава
                                option(value='33') Юля
                                option(value='44') Мама
                                option(value='55') папа
                                option(value='66') Слава



                .filter__input.filter-input
                    .filter-input__wr
                        .filter-input__title.filter-title № дома
                        .filter-input__wr
                            select.form__select(name='house')
                                option(value='от 18 до 25', selected) 254
                                option(value='от 25') 1
                                option(value='от 45') 2
                                option(value='от 45') 3
                                option(value='от 45') 55
                                option(value='от 25') 245
                                option(value='от 45') 55
                                option(value='от 45') 77
                                option(value='от 45') 88
                                option(value='от 25') 9
                                option(value='от 45') 32
                                option(value='от 45') 25
                                option(value='от 45') 48
                                option(value='от 25') 67
                                option(value='от 45') 57
                                option(value='от 45') 66
                                option(value='от 45') 456546



                .filter__input.filter-input
                    .filter-input__wr
                        .filter-input__title.filter-title Поиск по № аварийной завки
                        .filter-input__body
                            input(type="search").filter-input__input.filter-input__input-search


                button(type="submit").titleFilter__filter-btn.button-b Применить
                button(type="reset").button-g Сбросить
