section.table
    ._container
        .table__plug 
            p.table__plug-text Задайте параметры отчета
            svg(width="86", height="86", viewBox="0 0 86 86", fill="none", xmlns="http://www.w3.org/2000/svg")
                g(clip-path="url(#clip0)")
                    path(d="M77.0417 82.4168H8.95833C4.0205 82.4168 0 78.3963 0 73.4585V12.5418C0 7.604 4.0205 3.5835 8.95833 3.5835H77.0417C81.9795 3.5835 86 7.604 86 12.5418V73.4585C86 78.3963 81.9795 82.4168 77.0417 82.4168ZM8.95833 7.16683C5.99492 7.16683 3.58333 9.57841 3.58333 12.5418V73.4585C3.58333 76.4219 5.99492 78.8335 8.95833 78.8335H77.0417C80.0051 78.8335 82.4167 76.4219 82.4167 73.4585V12.5418C82.4167 9.57841 80.0051 7.16683 77.0417 7.16683H8.95833Z", fill="#BCBCBC")
                    path(d="M84.2083 28.6668H1.79167C0.802667 28.6668 0 27.8642 0 26.8752C0 25.8862 0.802667 25.0835 1.79167 25.0835H84.2083C85.1973 25.0835 86 25.8862 86 26.8752C86 27.8642 85.1973 28.6668 84.2083 28.6668Z", fill="#BCBCBC")
                    path(d="M84.2083 46.5833H1.79167C0.802667 46.5833 0 45.7807 0 44.7917C0 43.8027 0.802667 43 1.79167 43H84.2083C85.1973 43 86 43.8027 86 44.7917C86 45.7807 85.1973 46.5833 84.2083 46.5833Z", fill="#BCBCBC")
                    path(d="M84.2083 64.4998H1.79167C0.802667 64.4998 0 63.6972 0 62.7082C0 61.7192 0.802667 60.9165 1.79167 60.9165H84.2083C85.1973 60.9165 86 61.7192 86 62.7082C86 63.6972 85.1973 64.4998 84.2083 64.4998Z", fill="#BCBCBC")
                    path(d="M23.2917 82.4168C22.3027 82.4168 21.5 81.6142 21.5 80.6252V26.8752C21.5 25.8862 22.3027 25.0835 23.2917 25.0835C24.2807 25.0835 25.0833 25.8862 25.0833 26.8752V80.6252C25.0833 81.6142 24.2807 82.4168 23.2917 82.4168Z", fill="#BCBCBC")
                    path(d="M42.9999 82.4168C42.0109 82.4168 41.2083 81.6142 41.2083 80.6252V26.8752C41.2083 25.8862 42.0109 25.0835 42.9999 25.0835C43.9889 25.0835 44.7916 25.8862 44.7916 26.8752V80.6252C44.7916 81.6142 43.9889 82.4168 42.9999 82.4168Z", fill="#BCBCBC")
                    path(d="M62.7084 82.4168C61.7194 82.4168 60.9167 81.6142 60.9167 80.6252V26.8752C60.9167 25.8862 61.7194 25.0835 62.7084 25.0835C63.6974 25.0835 64.5001 25.8862 64.5001 26.8752V80.6252C64.5001 81.6142 63.6974 82.4168 62.7084 82.4168Z", fill="#BCBCBC")
            defs
                clipPath(id="clip0")
                    rect(width="86", height="86", fill="white")
        table.chiefStats__table
            tbody
                tr.chiefStats__table-top-row
                    th.table-top__element.sorted__column
                        span Дата, время                    
                    th.table-top__element.sorted__column 
                        span Номер
                    th.table-top__element.sorted__column
                        span Тип транспорта
                    th.table-top__element.sorted__column
                        span Транспорт
                    th.table-top__element
                        span Время проведенное на работах

                tr.chiefStats__table-row
                    td  17,09.2021 13:09
                    td  112594
                    td  Трактор
                    td   ТТ 123
                    td  04:23
                tr.chiefStats__table-row
                    td  17,09.2021 13:09
                    td  112594
                    td  Трактор
                    td   ТТ 123
                    td  04:23
                tr.chiefStats__table-row
                    td  17,09.2021 13:09
                    td  112594
                    td  Трактор
                    td   ТТ 123
                    td  04:23
                tr.chiefStats__table-row
                    td  17,09.2021 13:09
                    td  112594
                    td  Трактор
                    td   ТТ 123
                    td  04:23
                tr.chiefStats__table-row
                    td  17,09.2021 13:09
                    td  112594
                    td  Трактор
                    td   ТТ 123
                    td  04:23