section.table
    ._container

        table
            tbody
                tr.table-grid-top
                    th.table-top__element
                        span №
                        svg(width='12', height='12', viewbox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.28111 2.94518L4.17171 0.132629C4.03919 -0.0445352 3.74187 -0.0445352 3.60935 0.132629L1.49995 2.94518C1.32654 3.17589 1.49163 3.50754 1.78113 3.50754H2.83584V10.1873C2.83584 10.3816 2.99308 10.5389 3.1874 10.5389H4.59365C4.78797 10.5389 4.94053 10.3816 4.94053 10.1873V3.50754H5.9999C6.28966 3.50754 6.45433 3.17566 6.28111 2.94518Z', fill='#828282')
                            path(d='M11.2187 8.48456H10.1593V1.80478C10.1593 1.61046 10.0068 1.45322 9.81243 1.45322H8.40616C8.21184 1.45322 8.0546 1.61046 8.0546 1.80478V8.48454H6.99988C6.71036 8.48454 6.54529 8.81618 6.71871 9.0469L8.82813 11.8594C8.96849 12.0471 9.25033 12.0468 9.39049 11.8594L11.4999 9.04692C11.6731 8.81643 11.5084 8.48456 11.2187 8.48456Z', fill='#828282')

                    th.table-top__element
                        spasn Дата, время
                        svg(width='12', height='12', viewbox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                            path(d='M6.28111 2.94518L4.17171 0.132629C4.03919 -0.0445352 3.74187 -0.0445352 3.60935 0.132629L1.49995 2.94518C1.32654 3.17589 1.49163 3.50754 1.78113 3.50754H2.83584V10.1873C2.83584 10.3816 2.99308 10.5389 3.1874 10.5389H4.59365C4.78797 10.5389 4.94053 10.3816 4.94053 10.1873V3.50754H5.9999C6.28966 3.50754 6.45433 3.17566 6.28111 2.94518Z', fill='#828282')
                            path(d='M11.2187 8.48456H10.1593V1.80478C10.1593 1.61046 10.0068 1.45322 9.81243 1.45322H8.40616C8.21184 1.45322 8.0546 1.61046 8.0546 1.80478V8.48454H6.99988C6.71036 8.48454 6.54529 8.81618 6.71871 9.0469L8.82813 11.8594C8.96849 12.0471 9.25033 12.0468 9.39049 11.8594L11.4999 9.04692C11.6731 8.81643 11.5084 8.48456 11.2187 8.48456Z', fill='#828282')

                    th.table-top__element Адрес
                    th.table-top__element Стадия
                    th.table-top__element Проявление
                    th.table-top__element Транспорт
                    th

                tr.table-grid
                    td.table-bottom-row__element 54281
                    td.table-bottom-row__element 18.08.2021 <br>9.05
                    td.table-bottom-row__element ул. Академика Трубилина, д. 35 ул. Академика Трубилина, д. 35
                    td.table-bottom-row__element Обследование Обсле Обслед
                    td.table-bottom-row__element Ремонтные работы на сети
                    td.table-bottom-row__element Трактор <span>AA 505</span> <br> Трактор <span>AA 505</span> <br> Трактор <span>AA 505</span>
                    td.table-bottom-row__element._popup-link(href="#popup1")
                        svg(width='40', height='40', viewbox='0 0 40 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                            circle(cx='20', cy='20', r='20', fill='#0072BC')
                            rect(x='19', y='13', width='2', height='14', rx='1', fill='white')
                            rect(x='13', y='21', width='2', height='14', rx='1', transform='rotate(-90 13 21)', fill='white')


                tr.table-grid
                    td.table-bottom-row__element 54281
                    td.table-bottom-row__element 18.08.2021 <br>9.05
                    td.table-bottom-row__element ул. Академика Трубилина, д. 35
                    td.table-bottom-row__element Обследование
                    td.table-bottom-row__element Ремонтные работы на сети
                    td.table-bottom-row__element Трактор <span>AA 505</span>
                    td.table-bottom-row__element._popup-link(href="#popup1")
                        svg(width='40', height='40', viewbox='0 0 40 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                            circle(cx='20', cy='20', r='20', fill='#0072BC')
                            rect(x='19', y='13', width='2', height='14', rx='1', fill='white')
                            rect(x='13', y='21', width='2', height='14', rx='1', transform='rotate(-90 13 21)', fill='white')



                tr.table-grid
                    td.table-bottom-row__element 54281
                    td.table-bottom-row__element 18.08.2021 <br>9.05
                    td.table-bottom-row__element ул. Академика Трубилина, д. 35
                    td.table-bottom-row__element Обследование
                    td.table-bottom-row__element Ремонтные работы на сети
                    td.table-bottom-row__element Трактор <span>AA 505</span>
                    td.table-bottom-row__element._popup-link(href="#popup1")
                        svg(width='40', height='40', viewbox='0 0 40 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                            circle(cx='20', cy='20', r='20', fill='#0072BC')
                            rect(x='19', y='13', width='2', height='14', rx='1', fill='white')
                            rect(x='13', y='21', width='2', height='14', rx='1', transform='rotate(-90 13 21)', fill='white')



                tr.table-grid
                    td.table-bottom-row__element 54281
                    td.table-bottom-row__element 18.08.2021 <br>9.05
                    td.table-bottom-row__element ул. Академика Трубилина, д. 35
                    td.table-bottom-row__element Обследование
                    td.table-bottom-row__element Ремонтные работы на сети
                    td.table-bottom-row__element Трактор <span>AA 505</span>
                    td.table-bottom-row__element._popup-link(href="#popup1")
                        svg(width='40', height='40', viewbox='0 0 40 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                            circle(cx='20', cy='20', r='20', fill='#0072BC')
                            rect(x='19', y='13', width='2', height='14', rx='1', fill='white')
                            rect(x='13', y='21', width='2', height='14', rx='1', transform='rotate(-90 13 21)', fill='white')


        include ./../../../pug/_basice/_pagging 




